<h1 mat-dialog-title>Periodic Elements Table</h1>
<mat-dialog-content
  >Simple view to display table of given elements
  <br />
  <br />
  Filter affects all columns and works after 2 seconds without changes in input.
  <br />
  <br />
  You can also edit any value in all of the columns by clicking on the given
  record.
  <br />
  <br />
  Technologies used:
  <ul>
    <li>Angular 18.2.2</li>
    <li>Angular Material 18.2.3</li>
    <li>RxAngular/state 18.0.0</li>
  </ul></mat-dialog-content
>
<mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close>Close</button>
</mat-dialog-actions>
